# Environnements virtuels
.venv/
venv/
env/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# VSCode
.vscode/

# MacOS
.DS_Store

# Résultats / sorties
*.png
*.csv
*.pdf
*.xlsx
*.ipynb_checkpoints
# Python / macOS
__pycache__/
*.pyc
.DS_Store

# Environnements virtuels
.venv/
venv/

# Streamlit
.streamlit/

# Données / résultats locaux
results/*.csv
data/*.csv
